<a href="https://colab.research.google.com/github/BhavyaJayaprakash/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AlphabetSoupCharity_Optimization_2 - Retaining Name column, adding another hidden layer

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'
application_df = application_df.drop(['EIN'], axis =1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

NAME
PARENT BOOSTER USA INC                               1260
TOPS CLUB INC                                         765
UNITED STATES BOWLING CONGRESS INC                    700
WASHINGTON STATE UNIVERSITY                           492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC       408
                                                     ...
OUR PERFECT STORM                                       1
FOUNTAIN THEATER                                        1
COMBAT VETERANS MOTORCYCLE ASSOCIATION 33-7             1
NEW MEXICO ASSOCIATION OF INDEPENDENT SCHOOLS INC       1
RED SHOE PROJECT INC                                    1
Name: count, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value and create a list of Names to be replaced
# using the variable name `names_to_replace`
names_to_replace = list(name_counts[name_counts<10].index)

#Replace in dataframe
for name in names_to_replace:
  application_df['NAME'] = application_df['NAME'].replace(name, 'Other')

# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
STEVES CLUB NATIONAL PROGRAM                  10
GENERAL FEDERATION OF WOMENS CLUB             10
NATIONAL ASSOCIATION OF LETTER CARRIERS       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: count, Length: 223, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 2000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop('IS_SUCCESSFUL', axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation='tanh', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=17, activation='tanh'))

#Third hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation='tanh'))

#Fourth Hidden Layer
nn.add(tf.keras.layers.Dense(units=5, activation='tanh'))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 20)                             5,460

 dense_1 (Dense)                       (None, 17)                               357

 dense_2 (Dense)                       (None, 10)                               180

 dense_3 (Dense)                       (None, 5)                                 55

 dense_4 (Dense)                       (None, 1)                                  6

 Total params: 6,058 (23.66 KB)

 Trainable params: 6,058 (23.66 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  4s 2ms/step - accuracy: 0.7307 - loss: 0.5364
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7820 - loss: 0.4482
Epoch 3/100
804/804  2s 2ms/step - accuracy: 0.7834 - loss: 0.4475
Epoch 4/100
804/804  3s 3ms/step - accuracy: 0.7876 - loss: 0.4402
Epoch 5/100
804/804  2s 3ms/step - accuracy: 0.7912 - loss: 0.4350
Epoch 6/100
804/804  2s 2ms/step - accuracy: 0.7918 - loss: 0.4358
Epoch 7/100
804/804  3s 2ms/step - accuracy: 0.7887 - loss: 0.4338
Epoch 8/100
804/804  3s 2ms/step - accuracy: 0.7851 - loss: 0.4381
Epoch 9/100
804/804  2s 2ms/step - accuracy: 0.7925 - loss: 0.4325
Epoch 10/100
804/804  3s 3ms/step - accuracy: 0.7851 - loss: 0.4338
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.7945 - loss: 0.4285
Epoch 12/100
804/804  3s 2ms/step - accuracy: 0.7944 - loss: 0.4270
Epoch 13/100
804/804  2s 2ms/step - accuracy: 0.7948 - loss: 0.4265
Epoch 14/100
804/804  2s 2ms/step - accuracy: 0.7893 - loss: 0.4303
Epoch 15/100
804/804  3s 3ms/step - accuracy: 0.7947 - loss: 0.4268
Epoch 16/100
804/804  4s 2ms/step - accuracy: 0.7954 - loss: 0.4252
Epoch 17/100
804/804  2s 2ms/step - accuracy: 0.7917 - loss: 0.4286
Epoch 18/100
804/804  2s 2ms/step - accuracy: 0.7926 - loss: 0.4263
Epoch 19/100
804/804  3s 2ms/step - accuracy: 0.7964 - loss: 0.4223
Epoch 20/100
804/804  3s 3ms/step - accuracy: 0.7992 - loss: 0.4200
Epoch 21/100
804/804  4s 2ms/step - accuracy: 0.7937 - loss: 0.4277
Epoch 22/100
804/804  3s 2ms/step - accuracy: 0.7909 - loss: 0.4298
Epoch 23/100
804/804  3s 2ms/step - accuracy: 0.7905 - loss: 0.4311
Epoch 24/100
804/804  2s 3ms/step - accuracy: 0.7975 - loss: 0.4194
Epoch 25/100
804/804  2s 2ms/step - accuracy: 0.7906 - loss: 0.4291
Epoch 26/100
804/804  2s 2ms/step - accuracy: 0.7980 - loss: 0.4229
Epoch 27/100
804/804  3s 2ms/step - accuracy: 0.7929 - loss: 0.4254
Epoch 28/100
804/804  2s 2ms/step - accuracy: 0.7911 - loss: 0.4275
Epoch 29/100
804/804  3s 3ms/step - accuracy: 0.7914 - loss: 0.4253
Epoch 30/100
804/804  2s 3ms/step - accuracy: 0.7969 - loss: 0.4208
Epoch 31/100
804/804  2s 2ms/step - accuracy: 0.7956 - loss: 0.4249
Epoch 32/100
804/804  2s 2ms/step - accuracy: 0.7961 - loss: 0.4164
Epoch 33/100
804/804  2s 2ms/step - accuracy: 0.7983 - loss: 0.4197
Epoch 34/100
804/804  2s 2ms/step - accuracy: 0.7966 - loss: 0.4214
Epoch 35/100
804/804  3s 2ms/step - accuracy: 0.7977 - loss: 0.4138
Epoch 36/100
804/804  3s 3ms/step - accuracy: 0.7956 - loss: 0.4222
Epoch 37/100
804/804  2s 2ms/step - accuracy: 0.7967 - loss: 0.4207
Epoch 38/100
804/804  3s 2ms/step - accuracy: 0.7961 - loss: 0.4206
Epoch 39/100
804/804  2s 2ms/step - accuracy: 0.7965 - loss: 0.4193
Epoch 40/100
804/804  3s 2ms/step - accuracy: 0.7974 - loss: 0.4186
Epoch 41/100
804/804  3s 3ms/step - accuracy: 0.7949 - loss: 0.4191
Epoch 42/100
804/804  4s 2ms/step - accuracy: 0.7985 - loss: 0.4190
Epoch 43/100
804/804  2s 2ms/step - accuracy: 0.7976 - loss: 0.4214
Epoch 44/100
804/804  3s 2ms/step - accuracy: 0.7984 - loss: 0.4174
Epoch 45/100
804/804  2s 2ms/step - accuracy: 0.7961 - loss: 0.4195
Epoch 46/100
804/804  3s 3ms/step - accuracy: 0.7975 - loss: 0.4176
Epoch 47/100
804/804  2s 2ms/step - accuracy: 0.7929 - loss: 0.4189
Epoch 48/100
804/804  3s 2ms/step - accuracy: 0.8017 - loss: 0.4143
Epoch 49/100
804/804  3s 2ms/step - accuracy: 0.8006 - loss: 0.4163
Epoch 50/100
804/804  3s 2ms/step - accuracy: 0.7992 - loss: 0.4156
Epoch 51/100
804/804  3s 3ms/step - accuracy: 0.7990 - loss: 0.4176
Epoch 52/100
804/804  2s 2ms/step - accuracy: 0.7995 - loss: 0.4140
Epoch 53/100
804/804  3s 2ms/step - accuracy: 0.7974 - loss: 0.4199
Epoch 54/100
804/804  2s 2ms/step - accuracy: 0.7970 - loss: 0.4187
Epoch 55/100
804/804  3s 2ms/step - accuracy: 0.7950 - loss: 0.4211
Epoch 56/100
804/804  3s 3ms/step - accuracy: 0.7990 - loss: 0.4175
Epoch 57/100
804/804  2s 2ms/step - accuracy: 0.7947 - loss: 0.4175
Epoch 58/100
804/804  2s 2ms/step - accuracy: 0.7982 - loss: 0.4179
Epoch 59/100
804/804  2s 2ms/step - accuracy: 0.7991 - loss: 0.4161
Epoch 60/100
804/804  2s 2ms/step - accuracy: 0.7966 - loss: 0.4172
Epoch 61/100
804/804  3s 3ms/step - accuracy: 0.7941 - loss: 0.4200
Epoch 62/100
804/804  2s 2ms/step - accuracy: 0.8007 - loss: 0.4138
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.7980 - loss: 0.4148
Epoch 64/100
804/804  3s 2ms/step - accuracy: 0.7987 - loss: 0.4134
Epoch 65/100
804/804  3s 2ms/step - accuracy: 0.8023 - loss: 0.4121
Epoch 66/100
804/804  3s 3ms/step - accuracy: 0.8009 - loss: 0.4135
Epoch 67/100
804/804  2s 2ms/step - accuracy: 0.8014 - loss: 0.4143
Epoch 68/100
804/804  2s 2ms/step - accuracy: 0.7974 - loss: 0.4208
Epoch 69/100
804/804  3s 2ms/step - accuracy: 0.7974 - loss: 0.4156
Epoch 70/100
804/804  3s 3ms/step - accuracy: 0.8002 - loss: 0.4130
Epoch 71/100
804/804  2s 2ms/step - accuracy: 0.7997 - loss: 0.4172
Epoch 72/100
804/804  3s 3ms/step - accuracy: 0.8011 - loss: 0.4133
Epoch 73/100
804/804  2s 2ms/step - accuracy: 0.7968 - loss: 0.4163
Epoch 74/100
804/804  2s 2ms/step - accuracy: 0.7958 - loss: 0.4197
Epoch 75/100
804/804  3s 2ms/step - accuracy: 0.8030 - loss: 0.4115
Epoch 76/100
804/804  2s 2ms/step - accuracy: 0.7994 - loss: 0.4164
Epoch 77/100
804/804  3s 3ms/step - accuracy: 0.7970 - loss: 0.4153
Epoch 78/100
804/804  2s 2ms/step - accuracy: 0.7969 - loss: 0.4167
Epoch 79/100
804/804  2s 2ms/step - accuracy: 0.7990 - loss: 0.4107
Epoch 80/100
804/804  2s 2ms/step - accuracy: 0.8016 - loss: 0.4143
Epoch 81/100
804/804  2s 2ms/step - accuracy: 0.8016 - loss: 0.4120
Epoch 82/100
804/804  4s 3ms/step - accuracy: 0.8024 - loss: 0.4110
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.7998 - loss: 0.4153
Epoch 84/100
804/804  2s 2ms/step - accuracy: 0.7989 - loss: 0.4141
Epoch 85/100
804/804  2s 2ms/step - accuracy: 0.7994 - loss: 0.4150
Epoch 86/100
804/804  3s 2ms/step - accuracy: 0.7993 - loss: 0.4162
Epoch 87/100
804/804  3s 3ms/step - accuracy: 0.7932 - loss: 0.4201
Epoch 88/100
804/804  2s 2ms/step - accuracy: 0.8023 - loss: 0.4137
Epoch 89/100
804/804  2s 2ms/step - accuracy: 0.8016 - loss: 0.4137
Epoch 90/100
804/804  2s 2ms/step - accuracy: 0.7980 - loss: 0.4161
Epoch 91/100
804/804  3s 2ms/step - accuracy: 0.7937 - loss: 0.4194
Epoch 92/100
804/804  3s 3ms/step - accuracy: 0.7990 - loss: 0.4172
Epoch 93/100
804/804  3s 3ms/step - accuracy: 0.7967 - loss: 0.4168
Epoch 94/100
804/804  2s 2ms/step - accuracy: 0.7983 - loss: 0.4122
Epoch 95/100
804/804  2s 2ms/step - accuracy: 0.7950 - loss: 0.4174
Epoch 96/100
804/804  3s 2ms/step - accuracy: 0.8020 - loss: 0.4093
Epoch 97/100
804/804  3s 2ms/step - accuracy: 0.7999 - loss: 0.4136
Epoch 98/100
804/804  3s 3ms/step - accuracy: 0.7976 - loss: 0.4163
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.7940 - loss: 0.4212
Epoch 100/100
804/804  3s 2ms/step - accuracy: 0.8028 - loss: 0.4092

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 3ms/step - accuracy: 0.7794 - loss: 0.4673
Loss: 0.46726885437965393, Accuracy: 0.7793586254119873

In [16]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization_2.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

# New Section